# dependencies
node_modules/
**/node_modules/

# build files
dist/
build/
coverage/
.next/
.out/

# vite
.vite/
.vite-cache/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# uploads
uploads/
temp/
tmp/

# cache
.cache/
.parcel-cache/

# render/vercel
.vercel/
.render/

# lock files optional
package-lock.json
pnpm-lock.yaml
yarn.lock